@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(75, 138, 255, .4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(75, 138, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(75, 138, 255, 0);
  }
}

@keyframes finding {
  0% {
    transform: translate(20px, 0);
  }

  12.5% {
    transform: translate(5px, 5px);
  }

  25% {
    transform: translate(0, 20px);
  }

  37.5% {
    transform: translate(5px, 35px);
  }

  50% {
    transform: translate(20px, 40px);
  }

  62.5% {
    transform: translate(35px, 35px);
  }

  75% {
    transform: translate(40px, 20px);
  }

  87.5% {
    transform: translate(35px, 5px);
  }

  100% {
    transform: translate(20px, 0);
  }
}
