button,
.btn {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  padding: 12px;
  text-align: center;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;

  @extend %transition;

  &.disabled {
    background-color: #d2d2d6;
  }
}

.btn-secondary {
  background-color: #f6f7fa;
  color: #1d1e31;
}
