h1 {
  color: $color-primary;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  color: $color-text;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: left;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}
