input[type='text'],
input[type='password'] {
  background-color: $color-input-bg;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  height: auto;

  @extend %transition;

  @include media-breakpoint-up(md) {
    font-size: $global-font-size-md;
    padding: 10px 20px;
  }

  @include media-breakpoint-up(lg) {
    padding: 16px 20px;
  }

  @include media-breakpoint-up(xl) {
    font-size: $global-font-size-xl;
  }

  &:focus,
  &:active {
    background-color: #eaeaea;
    box-shadow: none !important;
    outline: none;
  }

  &:placeholder {
    color: $color-placeholder;
  }
}
