input[type='text'],
input[type='password'] {
  background-color: $color-bg;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  height: auto;
  padding: 15px;

  @extend %transition;

  @include media-breakpoint-up(md) {
    font-size: $global-font-size-md;
    padding: 10px 20px;
  }

  @include media-breakpoint-up(lg) {
    padding: 16px 20px;
  }

  @include media-breakpoint-up(xl) {
    font-size: $global-font-size-xl;
  }

  &:focus,
  &:active {
    background-color: #eaeaea;
    box-shadow: none !important;
    outline: none;
  }

  &::placeholder {
    color: $color-text;
    opacity: .2;
  }
}
.hd-path {
  cursor: pointer;
  color: #4b8aff;
}