.custom-checkbox {
  font-size: 14px;
  line-height: 25px;

  .custom-control-label::before {
    border-color: $color-primary;
    border-radius: 4px;
  }

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.custom-control-input:focus {
  ~ .custom-control-label::before {
    box-shadow: none;
  }
}

.custom-control-input:checked {
  ~ .custom-control-label {
    &::before {
      background-color: transparent;
      border-color: $color-primary;
      border-radius: 4px;
      box-shadow: none;
    }

    &::after {
      background-image: none !important;
      color: $color-primary;
      font-size: 12px;
      line-height: 16px;

      @include tb_icon('\e910');
    }
  }
}
