.bg-body {
  background-color: $color-background;
  overflow: hidden;
  min-height: 100vh;
  padding: 15px;
}
.container-medium {
  background-color: #ffffff;
  max-width: 500px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 30px;
  margin-top: 80px;
  @media (min-width: 1200px) and (max-width: 1500px) {
    margin-top: 30px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);
    padding: 15px;
  }
}
.box-btn {
  margin: 0;
  a {
    text-decoration: none;
  }
}
.item-product {
  .btn-tm {
    background-color: rgba(#fff, 0.2)!important;
    color: #000!important;
    border-top: 1px solid #f2f2f2;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 0 0 0 0;
    // box-shadow: 0px 0px 20px rgba(#000, 0.08);
    transition: all .3s;
    @include media-breakpoint-down(sm) {
      padding: 10px 15px;
      font-size: 12px;
      min-height: 70px;
      margin: 10px 0 0 0;
      box-shadow: 0px 0px 14px rgba(#000, 0.08);
    }
    .b-icon {
      color: #03c299;
    }
    &:hover {
      background-color: #03c299!important;
      border-radius: 50px;
      color: #ffffff!important;
      .b-icon {
        color: #ffffff;
      }
    }
    &:last-child {
      border-bottom: 1px solid #f2f2f2;
    }
  }
}
.error {
  color: #e64450!important;
  font-size: 13px;
}

.custom-checkbox .custom-control-label::before {
  border-color: #888;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #069c7c;
  background-color: #069c7c;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #069c7c;
}

.position-md-absolute {
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}

.h3 {
  font-size: 18px;
  // opacity: .7;
  // font-weight: bold;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.open-product {
  .logo-bri {
    height: 50px;
  }
}
