.multiselect {
  color: $color-text;
  position: relative;
}

.multiselect__select {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  &::before {
    font-size: 10px;

    @include tb_icon('\e905');
  }
}

.multiselect__tags {
  background-color: #f6f7fa;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 15px;

  @extend %transition;
}

.multiselect--active .multiselect__tags {
  background-color: #eaeaea;
}

.multiselect__placeholder {
  line-height: 25px;
}

.multiselect__input {
  background-color: transparent !important;
  border: none !important;
  line-height: 23px;
  transition: none !important;
}

.multiselect__content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .1);
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 240px;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 200px;
  z-index: 99;
}

.multiselect__option {
  display: block;
  padding: 10px 15px;
  width: 100%;
}

.multiselect__option--selected {
  background-color: #f6f7fa;
}

.multiselect__img {
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
  width: 25px;
}

.multiselect__name {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
