.navbar {
  margin: 0 -15px;
}

.navbar-nav .nav-item {
  .nav-link {
    color: $color-primary;
    font-size: 16px;
  }

  .dropdown-toggle::after {
    border: none;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;

    @include tb_icon('\e905');
  }
}

.navbar-nav .nav-item--dark {
  .nav-link {
    color: $color-text;
  }
}

.nav-item__icon {
  display: inline-block;
  font-size: 7px;
  margin-left: 10px;
  vertical-align: 2px;
}

.navbar-toggler {
  border: none;
  height: 40px;
  padding: 0;
  position: relative;
  width: 40px;

  &::before,
  &::after,
  span {
    background-color: #595959;
    content: '';
    display: block;
    height: 2px;
    left: 25%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    width: 60%;

    @extend %transition;
  }

  &::before {
    top: 30%;
  }

  span {
    top: 50%;
  }

  &::after {
    top: 70%;
  }

  &[aria-expanded='true'] {
    &::before {
      top: 50%;
      transform: rotate(45deg);
    }

    span {
      opacity: 0;
      top: 50%;
      transform: translateX(-6px);
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}
