.steps {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
    margin-top: 80px;
  }

  @include media-breakpoint-up(xxl) {
    margin-top: 100px;
  }
}

.steps__row {
  position: relative;

  &::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALwAAAABCAYAAABkHcQAAAAAAXNSR0IArs4c6QAAACFJREFUKBVjlJMzSmNAAo8enZuFxGUYlR8NH+T0MNTTBwDARFzWrF4HXgAAAABJRU5ErkJggg==);
    bottom: 25px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    &::after {
      bottom: 30px;
    }
  }
}

.steps__col {
  position: relative;

  &:first-child::before,
  &:last-child::after {
    background-color: #fff;
    bottom: 25px;
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &:first-child::before {
    right: 50%;
  }

  &:last-child::after {
    left: 50%;
  }

  @include media-breakpoint-up(lg) {
    &:first-child::before,
    &:last-child::after {
      bottom: 30px;
    }
  }
}

.steps__name {
  color: $color-gray;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
}

.steps__number {
  background-color: #fff;
  // background-color: $color-primary;
  color: $color-gray;
  font-size: 18px;
  margin: 0 auto;
  position: relative;
  width: calc(100% - 30px);
  z-index: 2;

  > span {
    border: 1px solid $color-gray;
    border-radius: 100%;
    display: inline-block;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    width: 50px;
  }

  @include media-breakpoint-up(md) {
    width: calc(100% - 100px);
  }

  @include media-breakpoint-up(lg) {
    width: 40%;

    > span {
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      width: 60px;
    }
  }
}

.steps__col--active {
  .steps__name {
    color: $color-primary;
  }

  .steps__number > span {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;
  }
}

.steps__col--current {
  .steps__number > span {
    box-shadow: 0 0 0 rgba(75, 138, 255, .4);

    &::before,
    &::after {
      animation: pulse 2.5s linear infinite;
      border-radius: 100%;
      box-shadow: 0 0 0 rgba(75, 138, 255, .4);
      content: '';
      display: block;
      height: 50px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
    }

    &::after {
      animation-delay: 2s;
    }
  }

  @include media-breakpoint-up(lg) {
    .steps__number > span {

      &::before,
      &::after {
        height: 60px;
        width: 60px;
      }
    }
  }
}
