.step-two__icon {
  animation: finding 8s linear infinite;
  color: $color-primary;
  display: block;
  font-size: 150px;
  margin-bottom: 50px;
  margin-top: 80px;

  @include media-breakpoint-up(xl) {
    font-size: 200px;
    margin-bottom: 80px;
    margin-top: 100px;
  }
}

.step-two__button {
  display: block;
  margin: 60px auto;
  width: 60%;

  @include media-breakpoint-up(md) {
    max-width: 330px;
  }
}
