.table {
  font-size: 14px;

  p {
    margin: 0;
  }

  @include media-breakpoint-down(md) {
    & > tbody > tr {
      border-radius: 4px;
      padding: 15px 20px;

      &:nth-child(2n + 1) {
        background-color: $color-bg;
      }
    }

    td {
      border-top-width: 0 !important;
      padding: 0 0 12px;
    }

    td:first-child {
      padding-top: 6px;
    }

    td:last-child {
      padding-bottom: 6px;
    }

    td::before {
      font-weight: 600;
      width: 30% !important;
    }
  }
}
