.table {
  font-size: 14px;
  p {
    margin: 0;
  }

  tbody tr {
    &:nth-child(2n + 1) {
      background-color: $color-bg;
    }
  }

  th {
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
    font-weight: 600;
  }

  td {
    border-top-width: 0 !important;
  }

  @include media-breakpoint-down(md) {
    tbody tr {
      border-radius: 4px;
      padding: 15px 20px;
    }

    td {
      padding: 0 0 12px;
    }

    td::before {
      font-weight: 600 !important;
      width: 30% !important;
    }
  }
}
