.table {
  display: block;
  font-size: 14px;

  p {
    margin: 0;
  }

  tbody tr {
    &:nth-child(2n + 1) {
      background-color: $color-bg;
    }
  }

  th {
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
    font-weight: 600;
  }

  td {
    border-top-width: 0 !important;

    &[aria-colindex='1'] {
      color: $color-gray;

      &::before {
        color: $color-text;
      }
    }

    &[aria-colindex='3'] {
      color: $color-primary;
      font-size: 9px;

      i {
        display: inline-block;
        margin-top: 6px;
      }
    }
  }

  @include media-breakpoint-only(md) {
    tbody {
      display: grid !important;
      grid-column-gap: 20px;
      grid-template-columns: 50% 50%;
    }

    tr {
      background-color: $color-bg;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    tbody tr {
      border-radius: 4px;
      padding: 15px 20px;
    }

    td {
      padding: 0 0 12px;
    }

    td:first-child {
      padding-top: 6px;
    }

    td:last-child {
      padding-bottom: 6px;
    }

    td::before {
      font-weight: 600;
      width: 30% !important;
    }
  }

  @include media-breakpoint-up(lg) {
    thead,
    tbody {
      display: block;
    }

    tbody tr,
    thead tr {
      border-radius: 4px;
      display: grid;
      grid-template-columns: 20% 20% 5% 20% 15% 20%;
    }

    th,
    td {
      padding: 15px;

      &[aria-colindex='5'] {
        text-align: center;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    tbody tr,
    thead tr {
      grid-template-columns: 15% 21% 5% 21% 17% 21%;
    }
  }
}
