.txs__headline {
  margin-bottom: 30px;
  margin-top: 70px;
}

.txs__table {
  display: block;

  td {
    &[aria-colindex='1'] {
      color: $color-gray;

      &::before {
        color: $color-text;
      }
    }

    &[aria-colindex='3'] {
      color: $color-primary;
      font-size: 9px;

      i {
        display: inline-block;
        margin-top: 6px;
      }
    }
  }

  @include media-breakpoint-only(md) {
    tbody {
      display: grid !important;
      grid-column-gap: 20px;
      grid-template-columns: 50% 50%;
    }

    tr {
      background-color: $color-bg;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    td:first-child {
      padding-top: 6px;
    }

    td:last-child {
      padding-bottom: 6px;
    }

    td[aria-colindex='3'] {
      display: none !important;
    }
  }

  @include media-breakpoint-up(lg) {
    thead,
    tbody {
      display: block;
    }

    th,
    td {
      padding: 15px;

      &[aria-colindex='5'] {
        text-align: center;
      }
    }

    tbody tr,
    thead tr {
      border-radius: 4px;
      display: grid;
      grid-template-columns: 20% 20% 5% 20% 15% 20%;
    }
  }

  @include media-breakpoint-up(xl) {
    tbody tr,
    thead tr {
      grid-template-columns: 15% 21% 5% 21% 17% 21%;
    }
  }
}
