#wrapbox {
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 0;
  padding: 30px;

  @include media-breakpoint-up(lg) {
    height: calc(100% - 90px);
  }

  .btn-primary {
    @include media-breakpoint-up(md) {
      display: block;
      font-size: 18px;
      margin: 0 auto 30px auto;
      max-width: 400px;
    }
  }
}

#swap-button {
  background: transparent;
  border: none;
  font-size: 0;
  padding: 0;

  .tb-swap-arrow-right,
  .tb-swap-arrow-left {
    font-size: 12px;
  }

  .tb-swap-arrow-right {
    color: #288bff;
    display: block;
    margin-bottom: -2px;
  }

  .tb-swap-arrow-left {
    color: #a4a5ad;
  }
}

#address-input {
  background: #f6f7fa;
  border: none;
  border-radius: 4px;
}

.wrapbox__row {
  align-items: center;
  display: flex;
  padding-bottom: 30px;

  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }
}

.wrapbox__text {
  display: block;
  letter-spacing: 0;
  margin-bottom: 1rem;
  text-align: left;

  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
}

.wrapbox__buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3,1fr);
  padding: 0;
}
