@mixin transition() {
  transition: all .3s ease;
}

@mixin tb_icon($icon) {
  content: $icon;

  @extend %tb_icon;
}
$baseSize: 16;
@mixin fsz($size:$baseSize,$parent:null){
	$i: $size * (100 / $baseSize);
	@if $parent == null {
		font-size: ceil($i * 1%);
	}@else {
		font-size: ceil(100% * ($size / $parent));
	}
}
